@model MaisonVotre.Models.Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorias.CategoriaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.CategoriaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudades.CiudadNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudades.CiudadNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaImagen)
        </dt>

        <dd>
            <img src="@Url.Content(item.EmpresaImagen)" width="200" height="130" alt="Alternate Text" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaLogo)
        </dt>

        <dd>
            <img src="@Url.Content(item.EmpresaLogo)" width="200" height="100" alt="Alternate Text" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpresaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
