@model MaisonVotre.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientIdentificationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientIdentificationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteEdad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteEdad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteSexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSexo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
