@model IEnumerable<MaisonVotre.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Cientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteFchNaci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteSexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteFchNaci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteSexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClienteId })
        </td>
    </tr>
}

</table>
