@model IEnumerable<MaisonVotre.Models.PedidoDetalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pedidos.PedidoDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.ProductoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PedidoDetalleSubTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pedidos.PedidoDireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.ProductoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PedidoDetalleSubTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PedidoDetalleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PedidoDetalleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PedidoDetalleId })
        </td>
    </tr>
}

</table>
