@model IEnumerable<MaisonVotre.Models.Carrito.Carrito>

@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productlist = Model.ToList();
    decimal total = 0;

    foreach (var item in productlist)
    {
        total += item.SubTotal;
    }
}

<h2>Pedido</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.ProductoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Productodescripcion)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Producto.Imagen)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Producto.ProductPrecio)
        </th>
        <th></th>
        <th align="center">
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Productodescripcion)
            </td>
            @*<td>
                    <img src="@Url.Content(item.Producto.Imagen)" width="200" height="100" alt="Alternate Text" />
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductPrecio)
            </td>
            <td>
                | @Html.ActionLink("-", "DownQuantity", new { id = item.Producto.ProductoId })
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.ActionLink("+", "UpQuantity", new { id = item.Producto.ProductoId }) |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.ActionLink("Remover", "RemovefromCart", new { id = item.Producto.ProductoId })
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@total</td>
    </tr>
</table>
@if (total != 0)
{
    <p>
        @Html.ActionLink("Explorar mas productos..", "ViewEmpresasAll", new { total = total }) |
        @Html.ActionLink("Ir a Comprar", "Pay", new { total = total })
    </p>
}
else
{
    @Html.ActionLink("El carrito está vacío . . Explora Productos", "ViewEmpresasAll", new { total = total })
}

